<div class="container-md p-3">
  <div class="card">
    <div class="card-header">
      Account Login
    </div>
    <div class="card-body">
      <form method="POST" action="/login" class="needs-validation">
        <div class="form-group">
          <label for="inputEmail">Email</label>
          <input
            type="email"
            class="form-control"
            id="inputEmail"
            aria-describedby="emailHelp"
            name="email"
          />
        </div>
        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input
            type="password"
            class="form-control"
            id="inputPassword"
            name="password"
          />
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
      </form>
    </div>
  </div>
</div>